[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web-py = "==0.40-dev1"
pymongo = "*"
bcrypt = "*"
humanize = "*"

[dev-packages]

[requires]
python_version = "3.6"
