<div class="container">
    <h2>Enter Credentials</h2>
    <br><br>

    <form id="loginForm">
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input name="username" type="text" id="username" class="form-control">
            <label for="username" >Enter Username</label>
        </div><br>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input name="password" type="password" id="password" class="form-control validate">
            <label for="password" data-error="wrong" data-success="right">Type your password</label>
        </div><br>

        <button type="submit" class="btn btn-success btn-md">Sign In</button>
    </form>
</div>

    <!--if self.css:-->
        <!--for style in self.css.split():-->
            <!--<link rel="stylesheet" href="style">-->
    <!--if self.js:-->
        <!--for script in self.js.split():-->
            <!--<script type="text/javascript" src="script"></script>-->