<div class="background-image" style="background:url('static/css/images/otaku_login.jpg');height: 100%;
background-position: center;background-repeat: no-repeat;background-size: cover;color:white;
">
    <div style="margin-left:3%;">
        <br><br><br><br>

        <form id="loginForm" class="form-inline">
            <h2>Enter Credentials</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input name="username" type="text" id="username" class="form-control">
                <label for="username" style="color:white;">Enter Username</label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input name="password" type="password" id="password" class="form-control validate">
                <label for="password" data-error="wrong" data-success="right" style="color:white;">Type your password</label>
            </div><br>&nbsp;&nbsp;&nbsp;&nbsp;

            <button type="submit" class="btn btn-success btn-md">Sign In</button>
        </form>
    </div>
</div>

    <!--if self.css:-->
        <!--for style in self.css.split():-->
            <!--<link rel="stylesheet" href="style">-->
    <!--if self.js:-->
        <!--for script in self.js.split():-->
            <!--<script type="text/javascript" src="script"></script>-->